---
import { Picture } from "astro:assets";
import heroImage from "assets/produk_luncy.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-50 md:pb-24">
  <div class="py-6 sm:order-3  md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      <span class="bg-purple-600 text-yellow-600 py-1 px-1 pb-1">LUNCY</span> <br> <span class="text-4xl">Make Your Parfume</span>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      <span class="bg-yellow-300 font-bol">Varian parfum dengan aroma manis, soft, lembut, dan powdery yang dirancang khusus untuk wanita</span><wbr /> memberikan sentuhan elegan dan feminin sepanjang hari.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://id.shp.ee/F2uzipE"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-red-500"
        rel="noopener">
        <Icon class="text-white w-5 h-5 bg-red" name="bx:bxl-shopify" />

         Order On Shoope
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://vt.tokopedia.com/t/ZS2HwCEJu/"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-tiktok" />
         Order On Tiktok
      </Link>
    </div>
  </div>
</main>
